.header {
  padding:20px;
  background-color: lightgoldenrodyellow;
  
}

.header a{
  text-decoration: none;
}

.menu li.active a{
  border-radius: 0;
  background-color: lightgoldenrodyellow;
  color: black;
}

.menu li.active a:hover{
  border-radius: 0;
  background-color: lightgoldenrodyellow;
  color: black;
}

.menu li a:hover{
  border-radius: 0;
}

div.panel.theme>.panel-heading{
  background-color: lightsteelblue;
  color: black;
  
}
